.input_search_bar {
    margin: 0px 0px 30px 0px;
  }

.explanation {
    margin-top: 10px;
}

.site_square {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    padding: 0px 5px;
}
  
.site_sqaure_img_wrapper {
    height: 75px;
    width: 75px;
    position: relative;
    display: block;
}
  
.site_square_img {
    height: 75px;
    width: 75px;
    cursor: pointer;
}
  
.site_square_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    padding-top: 5px;
}

.waitCursor {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content__card {
    margin-top: 75px;
  }
  
  .inner_annotation_formula {
    margin: 0px 10px;
  }
  
  .input_formula {
    width: 100%;
    margin-top: 10px;
  }
  
  .mid {
    text-align: center;
    margin-top: 10px;
  }

  .tapp_intro {
    margin: 0px;
  }